
/*------------------------------------------header------------------------------------------*/
.header{
    background-color: rgb(124, 218, 223);
    height: 90px; /*background-colorの長さ調整*/
}

.header-logo {
    font-size: 30px;
    padding: 30px; /*上下左右に20pxの余白を追加*/
    color: white;
}

.header-list{    
    color: white;
    position: relative; /*リストの位置調整*/
    top: -80px; left: 400px;
}

.header-list li{ /*header-listのliのみに設定をすることも可能*/
    list-style: none; /*黒点を無くす*/
    padding: 0px 15px;
}

.header-list ul{
    display: flex; /*これでも横並びになる floatよりもこっちがトレンド*/
}

.follow-me {
    list-style: none;
    margin: 0 0 -8px;
    overflow: hidden;
    padding: 0;
  }
  .follow-me li {
    float: left;
    margin: 0 -20px -20px 0;
    position: relative;
    top: 0px;
    right: 0px;
    
  }

  .follow-me li a::before {
    color: rgba(255, 255, 255, 0.534);
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px; /*アイコンのサイズ*/
    line-height: 10px; /*ボタンの高さ*/
    width: 44px; /* Button width */
  }
  .follow-me li a:hover::before {
    color: rgba(206, 206, 206, 0.534); /*アイコンの色*/
  }
  .follow-me li a[href*="instagram.com"]::before      { content: "\f16d"; }
  .follow-me li a[href*="twitter.com"]::before        { content: "\f099"; }

/*------------------------------------------main------------------------------------------*/
.main{
    background-color: rgb(181, 220, 221);
    height: 1300px;
}

/*------------------------------------------footer------------------------------------------*/
.footer{
    background-color: rgb(205, 143, 218);
    height: 120px;
    padding: 40px;
}